body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 101, 219);
    color: lightskyblue;
}

header {
    padding: 20px;
    background-color: #151820;
    text-align: center;
}

header h1 {
    margin: 0 0 15 px;
    font-size: 36px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: lightcoral;
}

.menu a:active{
    transform: scale(0.95);
}

main {
    padding: 20px;
}

.hero {
    background: linear-gradient(135deg, lightskyblue, blue);
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    text-align: center;
}

.players {
    display: flex;
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.player-card {
    background-color: #0a1125;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s;
    border-radius: 15px;
    position: relative;
    display:flex;
    flex-direction: column;
}

.player-card:hover {
    transform: scale(1.05);
}

.player-card img {
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px;
    height: 250px;
    object-fit: cover;
}
.player-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.Page404 img{
    width: 100%;
    height: auto;
}

.news p {
    color: lightgray;
    font-size: 20px;
}

@media (max-width: 768px) {
    .player-card {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .player-card {
        width: 100%;
    }
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #151820;
    color: lightgray;
    margin-top: auto;
    flex: auto;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}

.news{
    transition: transform 0.3s;
    position: relative;
    background-color: #060631;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    justify-content: center;
}

.news:hover {
    transform: scale(1.02);
}

.transfers{
    transition: transform 0.3s;
    position: relative;
    background-color: #060631;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
    justify-content: center;
}

.transfers:hover {
    transform: scale(1.02);
}

.transfers p {
    color: lightgray;
    font-size: 20px;
}

.headtop {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
}

.logo{
    width: 50px;
    height: auto;
    display: flex;
    border-radius: 50%;
}

.headertop h1 {
    font-size: 24px;
    margin: 0;
}

.transfers a{
    display: block;
    margin-top: 15px;
    padding: 10px 18px;
    background-color: lightskyblue;
    color: #151820;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}
.transfers a:hover {
    transform: scale(1.05);
}

.foot a{
    margin-top: 15px;
    padding: 6px 12px;
    background-color: rgb(31, 61, 117);
    color: #a7bcfc;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: auto;
    margin-top: auto;
}
.foot a:hover {
    transform: scale(1.05);
}